.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  position: static;
  padding-top: 40px;
}
 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));
  display: inline-block;
  border-radius: 50% ;
  border: 2px solid white;
  opacity: 1;
  background: var(--swiper-pagination-bullet-inactive-color, none);
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
  }
}
.wrapper .swiper-pagination-bullet-active {
  background: #fff !important;
}
.wrapper .swiper-button-next, .wrapper .swiper-button-prev {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 205px;
}
.wrapper .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.wrapper .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  font-size: 15px;
  color: #fff;
  text-align: center;
  }
  @media screen and (min-width:1700px) and (max-width:1440px) {
    .wrapper .swiper-button-next, .wrapper .swiper-button-prev {
      margin: 0 5px;
    }
  }