@font-face {
  font-family: 'Cairo-Bold';
  src: url(../../../public/src/fonts/Cairo-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Cairo-Regular';
  src: url(../../../public/src/fonts/Cairo-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../../../public/src/fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}