.realTime {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  &-container {
    max-width: 300px;
    width: 100%;
    height: auto;
    background: radial-gradient(circle, rgba(244,244,244,1) 56%, rgba(175,177,180,1) 96%);
    box-shadow: 9px 6px 19px 0px rgba(66, 68, 90, 1);
    border-radius: 14px;
    padding: 20px;
    .time, .date {
      font-family: 'Cairo-Bold';
      font-size: 33px;
      line-height: 22px;
      color: #000000;
      text-align: center;
      padding: 10px 0;
    }
    h3 {
      font-family: 'Cairo-Bold';
      font-size: 20px;
      line-height: 22px;
      color: #3C3C3C;
      text-transform: capitalize; 
      text-align: center;
      padding: 10px 0;
    }
  }
  .temperature {
    font-family: 'Cairo-Bold';
    font-size: 32px;
  }
  .description {
    font-family: 'Cairo-Regular';
    line-height: 22px;
    font-size: 18px;
    color: #000000;
    padding-left: 10px;
    text-transform: capitalize;
  }
  &-weather {
    display: flex;
    flex-direction: row;
  }
  .weather-components {
    font-family: 'Cairo-Regular';
    line-height: 22px;
    font-size: 16px;
    color: #000000;
    text-transform: capitalize;
    padding: 10px;
  }
  &-search-city {
    background: transparent;
    margin: 15px 45px;
    position: relative;
    input {
      background: transparent;
      border: 1px solid #4e4c4c;
      border-radius: 14px;
      height: 25px;
    }
    &__searchCklik {
      background: none;
      border: none;
      position: absolute;
      right: 10px;
      top: 2px;
    }

  }
}