.container-slider {
  background: radial-gradient(circle, rgb(244, 244, 244) 56%, rgb(175, 177, 180) 96%);
}

.container-slider .wrapper-slider {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 155px;
  padding: 50px 0;
}

.container-slider .wrapper-slider h2 {
  font-family: "Cairo-Bold";
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #3C3C3C;
  margin-bottom: 50px;
}

.container-slider .wrapper-slider .mainNews__slider {
  padding: 0 10px;
}

.container-slider .wrapper-slider .mainNews__slider-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
}

.container-slider .wrapper-slider .mainNews__slider h3 {
  font-family: "Cairo-Bold";
  font-size: 20px;
  line-height: 22px;
  color: #3C3C3C;
  text-transform: capitalize;
}

.container-slider .wrapper-slider .mainNews__slider p {
  text-decoration: none;
  font-family: "Cairo-Regular";
  font-size: 18px;
  line-height: 20px;
  color: #11142D;
  margin: 15px 0;
}

.container-slider .wrapper-slider .mainNews__slider img {
  max-height: 230px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  padding-bottom: 55px;
}

.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
  height: 12px;
  width: 12px;
  background: #3C3C3C;
}