@font-face {
  font-family: 'Josefin-Sans_bolt';
  src: url(../fonts/JosefinSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin-Sans_normal';
  src: url(../fonts/JosefinSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin-Sans_light';
  src: url(../fonts/JosefinSans-light.woff2);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Aleo';
  src: url(../fonts/Aleo-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}