.container {
  position: absolute;
  top: 400px;
  left: calc((100% - 770px) / 2);
  width: 770px;
  height: 450px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px -4px 30px rgba(133, 133, 133, 0.2);
}