.booking {
  &-top {
    position: relative;
    height: 684px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__content {
      display: flex;
      justify-content: flex-start;
    }
  .booking-content {
    margin-right: 10px;
  }
  }
  &-bottom {
    position: relative;
    height: 684px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__content {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .booking-content {
      margin-left: 10px;
    }
  }
  &-content {
    position: absolute;
    bottom: 120px;
    max-width: 649px;
    padding: 44px 32px;
    background: rgba(35, 35, 35, 0.9);
    .booking__subtitle {
      font-family: 'Josefin-Sans_light';
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.1em;
      color: #FFFFFF;
    }
    .booking__explain {
      padding-bottom: 24px;
    }
  }
}
@media screen and (max-width:1440px) {
  .booking-top {
    height: 712px;
  }
  .booking-bottom {
    height: 712px;
  }
}
@media screen and (max-width:768px) {
  .booking-top {
    height: 588px;
  }
  .booking-bottom {
    height: 588px;
  }
}
@media screen and (max-width:576px) {
  .booking-top {
    height: 616px;
  }
  .booking-bottom {
    height: 616px;
  }
}